{
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "tailwindFunctions": ["clsx, cn"],
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "printWidth": 120,
    "arrowParens": "always"
}
